:root {
  --primary_color: #181817;
  --secondary_color: #141516;
  --third_color: #a5a6f6;

  --button_color: #495057;
}

i[class^="fa-"],
hr {
  color: var(--third_color);
}

hr {
  width: 10px;
  border: 1px solid var(--third_color);
}

i[class$="fa-chevron-down"] {
  font-size: 12px;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.editor {
  padding: 8px;
  overflow-y: auto;
  overflow-x: hidden;
  color: var(--third_color);
  outline-color: var(--third_color);
}

.dropdowns {
  column-gap: 2px;
}

.dropdown {
  padding-left: 8px;
  padding-right: 4px;
}

.dropdown,
button:not(.dropdown) {
  cursor: pointer;
  transition: 0.4s background-color ease;
}

.text_style button,
.list button,
.etc button {
  width: 28px;
  height: 28px;
}

.dropdown:hover,
button:not(.dropdown):not(.undo_redo button):hover {
  background-color: var(--button_color);
  opacity: 46;
  transition: 0.4s background-color ease;
}

.editor_container {
  display: flex;
  column-gap: 5px;
  width: 1222px;
  border: 1px solid;
  background-color: #282828;
}

.editor_left_area {
  width: 724px;
  flex-shrink: 0;
}

.editor_toolbar,
.output_toolbar {
  background-color: var(--secondary_color);
  height: 51px;
  width: 100%;
}

.editor_left_area,
.editor_right_area {
  height: 100%;
}

.editor_right_area {
  width: 677px;
}

.editor,
.output {
  background-color: var(--primary_color);
  height: 626px;
}

.editor_toolbar {
  display: flex;
  column-gap: 8px;
  padding: 8px;
  align-items: center;
}

.undo_redo button {
  width: 20px;
  height: 20px;
  padding-left: 4px !important;
  padding-right: 4px !important;
}

.dropdown {
  height: 26px;
  display: flex;
  align-items: center;
}

.dropdown,
.text_style button,
.list button,
.etc button {
  border-radius: 4px;
}

.dropdown > button,
.dropdown > ul > li > button {
  font-size: 14px;
  color: var(--third_color);
}

ul {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.colors button {
  display: flex;
  align-items: center;
  column-gap: 2px;
}

.color_purple {
  background-color: #5d5fef;
  border: 1px solid #212529;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  box-sizing: border-box;
}

.text_style button {
  color: var(--third_color);
  padding: 4px;
  padding-right: 4px;
  font-size: 17px;
  font-weight: 600;
}

.text_style_italic {
  font-style: italic;
  font-family: none;
}

.text_style_underline {
  text-decoration: underline;
}

.text_style_line_through {
  text-decoration: line-through;
  font-weight: 200 !important;
}

.text_style,
.list,
.etc {
  display: flex;
}

.list button img {
  width: 16.25px;
  height: 12.5px;
}

.etc button,
.text_style button {
  padding-right: 4px;
  padding-left: 4px;
}

.etc button:last-child {
  display: flex;
  align-items: center;
}

.output_toolbar {
  display: flex;
  align-items: center;
  padding-right: 25px;
}

.output_toolbar button {
  margin-left: auto;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.output_toolbar button span {
  color: var(--third_color);
  font-size: 14px;
}

.dropdowns {
  display: flex;
  align-items: center;
  column-gap: 2px;
}
