:root {
  --primary_color: #181817;
  --secondary_color: #141516;
  --third_color: #a5a6f6;

  --color_gray: #495057;
  --dropdown_color: #2c3034;
}

i[class^="fa-"],
hr {
  color: var(--third_color);
}

hr {
  width: 10px;
  border: 1px solid var(--third_color);
}

i[class*="fa-chevron-"] {
  font-size: 12px;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.editor {
  padding: 8px;
  overflow-y: auto;
  overflow-x: hidden;
  color: var(--third_color);
  outline-color: var(--third_color);
}

.dropdowns {
  column-gap: 2px;
}

.dropdown {
  padding-left: 8px;
  padding-right: 4px;
}

.dropdown,
button:not(.dropdown):not(.subtitle button) {
  cursor: pointer;
  transition: 0.4s background-color ease;
}

.text_style button,
.list button,
.etc button {
  width: 28px;
  height: 28px;
}

.dropdown:hover,
button:not(.dropdown):not(.subtitle button):not(.undo_redo button):not(
    .output_toolbar button
  ):hover {
  background-color: var(--color_gray);
  opacity: 46;
  transition: 0.4s background-color ease;
}

.editor_container {
  display: flex;
  column-gap: 5px;
  width: 1222px;
  border: 1px solid;
  background-color: #282828;
}

.editor_left_area {
  width: 724px;
  flex-shrink: 0;
}

.editor_toolbar,
.output_toolbar {
  background-color: var(--secondary_color);
  height: 51px;
  width: 100%;
}

.editor_left_area,
.editor_right_area {
  height: 100%;
}

.editor_right_area {
  width: 677px;
}

.editor,
.output {
  background-color: var(--primary_color);
  height: 626px;
}

.editor_toolbar {
  display: flex;
  column-gap: 8px;
  padding: 8px;
  align-items: center;
}

.undo_redo button {
  width: 20px;
  height: 20px;
  padding-left: 4px !important;
  padding-right: 4px !important;
}

.dropdown {
  height: 26px;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.dropdown:first-child button i {
  padding: 4px;
}

.dropdown,
.text_style button,
.list button,
.etc button {
  border-radius: 4px;
}

.dropdown > button,
.dropdown > ul > li > button {
  font-size: 14px;
  color: var(--third_color);
}

ul,
.dropdown_emoji {
  display: none;
  position: absolute;
  height: max-content;
  width: inherit;
  overflow-y: auto;
  top: 34px;
  left: 0px;
  border-radius: 4px;
  padding: 4px 0;
}

.dropdown ul:not(.dropdown:first-child ul) {
  background-color: var(--dropdown_color);
}

.dropdown:first-child ul {
  width: 223px;
}

.dropdown:hover ul,
.dropdown:hover .dropdown_emoji {
  display: block;
}

ul,
ul li,
ul li button {
  color: var(--third_color);
}

ul:not(.dropdown_colors) li {
  padding: 4px;
  box-sizing: border-box;
}

.dropdown:first-child ul li {
  width: 110px;
  background-color: var(--dropdown_color);
}

.dropdown:not(.dropdown:first-child) ul {
  width: -webkit-fill-available;
  top: 38px;
}

.dropdown:not(.dropdown:first-child) ul li {
  text-align: center;
}

.dropdown
  ul
  li:not(.dropdown ul li:first-child):not(.dropdown:first-child ul li) {
  margin-top: 4px;
}

.dropdown:first-child ul li:first-child:not(.subtitle ul li:first-child) {
  border-radius: 4px 4px 0px 0px;
}

.dropdown:not(.dropdown:first-child):not(.text_align) li {
  border-radius: 4px;
}

.dropdown ul li:last-child:not(.subtitle ul li:last-child) {
  border-radius: 0px 0px 4px 4px;
}

ul:not(.dropdown_colors) li:hover {
  background-color: #373e45;
}

.normal_text {
  font-size: 14px;
  line-height: 150%;
}

.subtitle {
  position: relative;
  width: 110px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 15px;
  line-height: 125%;
}

.subtitle:hover ul {
  display: block !important;
}

.subtitle button span,
.subtitle ul li {
  font-weight: bold;
}

.subtitle button {
  display: flex;
  align-items: center;
  column-gap: 32px;
  cursor: pointer;
}

.subtitle button i {
  padding: 0px !important;
}

.subtitle span {
  width: max-content;
}

.subtitle ul {
  position: absolute;
  width: 110px;
  height: max-content;
  top: -4px;
  left: 112px;
  border-radius: 4px;
  display: none !important;
  background-color: var(--dropdown_color);
}

.subtitle ul li {
  background-color: none;
}

.subtitle_1,
.subtitle_2,
.subtitle_3 {
  line-height: 150%;
}

.subtitle_1 {
  font-size: 13px;
}

.subtitle_2 {
  font-size: 11px;
}

.subtitle_3 {
  font-size: 10px;
}

li[class*="heading"] {
  font-weight: bold;
  line-height: 125%;
}

.heading {
  font-size: 24px;
}

.heading_1 {
  font-size: 20px;
}

.heading_2 {
  font-size: 16px;
}

.heading_3 {
  font-size: 14px;
}

.dropdown_font_size {
  height: 99px;
  padding-left: 4px;
  padding-right: 4px;
}

.dropdown_font_size li {
  text-align: center;
}

.dropdown_emoji {
  height: auto !important;
}

.dropdown_emojis:hover ul {
  display: grid !important;
  overflow-x: hidden;
}

.emojis {
  height: 98px !important;
  grid-template-columns: repeat(2, 38px);
  justify-items: center;
  align-items: center;
}

.dropdown_font_size::-webkit-scrollbar,
.emojis::-webkit-scrollbar {
  width: 4px;
}

.dropdown_font_size::-webkit-scrollbar-track,
.emojis::-webkit-scrollbar-track {
  background-color: #43494f;
}

.dropdown_font_size::-webkit-scrollbar-track,
.dropdown_font_size::-webkit-scrollbar-thumb,
.emojis::-webkit-scrollbar-track,
.emojis::-webkit-scrollbar-thumb {
  border-radius: 4px;
}

.dropdown_font_size::-webkit-scrollbar-thumb,
.emojis::-webkit-scrollbar-thumb {
  background-color: #575f66;
}

.dropdown_font_size::-webkit-scrollbar-thumb:hover,
.emojis::-webkit-scrollbar-thumb:hover {
  background-color: #444a50;
}

.dropdown_colors {
  width: 206px !important;
  padding: 8px 4px;
}

.dropdown_colors li:not(.dropdown_colors li:last-child) a {
  margin-right: 4px;
}

.dropdown_colors li:first-child {
  margin-bottom: 4px;
}

.dropdown_colors input {
  appearance: none;
  margin: 0px;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.dropdown_color_black {
  background-color: #212529;
  border: 1px solid #515a64;
}

.dropdown_color_light_purple {
  background-color: #845ef7;
  border: 1px solid #845ef7;
}

.dropdown_color_light_blue {
  background-color: #339af0;
  border: 1px solid #339af0;
}

.dropdown_color_cyan {
  background-color: #22b8cf;
  border: 1px solid #22b8cf;
}

.dropdown_color_light_green {
  background-color: #51cf66;
  border: 1px solid #51cf66;
}

.dropdown_color_light_orange {
  background-color: #fcc419;
  border: 1px solid #fcc419;
}

.dropdown_color_light_red {
  background-color: #ff6b6b;
  border: 1px solid #ff6b6b;
}

.dropdown_color_light_pink {
  background-color: #f06595;
  border: 1px solid #f06595;
}

.dropdown_color_white {
  background-color: #ced4da;
  border: 1px solid #ced4da;
}

.dropdown_color_purple {
  background-color: #5f3dc4;
  border: 1px solid #5f3dc4;
}

.dropdown_color_blue {
  background-color: #1864ab;
  border: 1px solid #1864ab;
}

.dropdown_color_dark_cyan {
  background-color: #0b7285;
  border: 1px solid #0b7285;
}

.dropdown_color_green {
  background-color: #2b8a3e;
  border: 1px solid #2b8a3e;
}

.dropdown_color_orange {
  background-color: #e67700;
  border: 1px solid #e67700;
}

.dropdown_color_red {
  background-color: #c92a2a;
  border: 1px solid #c92a2a;
}

.dropdown_color_pink {
  background-color: #c2255c;
  border: 1px solid #c2255c;
}

.dropdown_emoji {
  width: 88px;
  height: 98px;
  background-color: var(--dropdown_color);
  padding: 1px;
}

.dropdown_emoji input {
  appearance: none;
  width: -webkit-fill-available;
  height: 23px;
  font-size: 12px;
  border: none;
  border-radius: 4px;
  padding: 4px;
  background-color: #3a3f44;
  outline: none;
  color: white;
}

.dropdown_emoji input::placeholder {
  color: var(--third_color);
}

.dropdown_emoji ul {
  top: 0px !important;
  border-radius: 0px !important;
  position: relative !important;
  background: none !important;
  padding: 6px;
  padding-right: 0px;
  padding-left: 2px;
}

.colors button {
  display: flex;
  align-items: center;
  column-gap: 2px;
}

.color_purple {
  background-color: #5d5fef;
  border: 1px solid #212529;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  box-sizing: border-box;
}

.text_style button {
  color: var(--third_color);
  padding: 4px;
  padding-right: 4px;
  font-size: 17px;
  font-weight: 600;
}

.text_style_italic {
  font-style: italic;
  font-family: none;
}

.text_style_underline {
  text-decoration: underline;
}

.text_style_line_through {
  text-decoration: line-through;
  font-weight: 200 !important;
}

.text_style,
.list,
.etc {
  display: flex;
}

.list button img {
  width: 16.25px;
  height: 12.5px;
}

.etc button,
.text_style button {
  padding-right: 4px;
  padding-left: 4px;
}

.etc button:last-child {
  display: flex;
  align-items: center;
}

.output_toolbar {
  display: flex;
  align-items: center;
  padding-right: 25px;
}

.output_toolbar button {
  margin-left: auto;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.output_toolbar button span {
  color: var(--third_color);
  font-size: 14px;
}

.dropdowns {
  display: flex;
  align-items: center;
  column-gap: 2px;
}
